.wrapper {
    padding-top: 8px;
    min-height: 120px;
    max-height: min(-156px + 100vh, 734px);
    border-radius: 8px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 8px;
    }
}
