.wrapper {
    --search-border-radius: 92px;
    height: var(--default-layout-header-height);
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    .inner {
        width: var(--default-layout-width);
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .action-bar {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-message,
            .btn-envelope {
                border: none;
                outline: none;
                background-color: transparent;
                margin-left: 20px;
                cursor: pointer;
            }

            .user-avatar {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                margin-left: 20px;
                &:hover {
                    cursor: pointer;
                    opacity: 0.9;
                }
            }

            .options {
                font-size: 2rem;
                margin-left: 6px;
                &:hover {
                    cursor: pointer;
                    color: rgb(53, 53, 53);
                }
            }

            .menu-item {
                min-width: 180px;
            }
        }
    }
}
